body{
  background: linear-gradient(45deg,black,gray);
  background-attachment: fixed;
}

.container{
  height: 80%;
  width: 40%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  background-color: black;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: #fff;
  padding-top: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h1{
  letter-spacing: 1px;
  margin: auto;
  color: gray;
}
.container label{
  font-size: 22px;
  margin: 10px;
  margin-top: 20px;
}
.form-control{
  width: 80%;
  padding-left: 15px;
  font-size: 13px;
  border-radius: 30px;
}

.btn{
  width: 20%;
  padding: 5px 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: transparent;
  border-radius: 30px;
  box-shadow: 0 0 4px #fff;
  cursor: pointer;
  color: white;
}

.btn:hover{
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 0 13px #fff;
  color: white;
}

input[placeholder]:focus{
  box-shadow: 0 0 5px #fff;
}